.imagenytxt {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/tp\ codo\ a\ codo/ba1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20%;
    margin: 0%;
    margin: auto;
    box-sizing: content-box;
    width: auto;
}

.imagenytxt h5{
    position: absolute;
    top: 43%;
    right: 5%;
}
.imagenytxt p{
    position: absolute;
    top: 50%;
    left: 58%;
    right: 5%;
}

.imagenytxt .btn_1{
    position: absolute;
    bottom:23%;
    right: 17%;
    height: 55px;
    width: 200px;
}

.imagenytxt .btn_2{
    position: absolute;
    bottom:23%;
    right: 5%;
    height: 55px;
    width: 200px;
}